body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  background-color: #fff;
  width: 1300px;
  height: 1200px;
  margin-top: 10px;
}

#main {
  float: left;
  width: 750px;
}

#sidebar {
  float: right;
  width: 100px;
}

#sequence {
  width: 600px;
  height: 70px;
}

#legend {
  padding: 10px 0 0 3px;
}

#sequence text, #legend2 text {
  font-weight: 800;
  fill: #fff;
}

#chart {
  position: relative;
}

#chart path {
  stroke: #fff;
}

#explanation {
  position: absolute;
  font-size: 15px;
  top: 300px;
  left: 420px;
  width: 140px;
  text-align: center;
  color: #666;
  z-index: -1;
}

#percentage2 {
  font-size: 2.5em;
}
